body {
    background-color: black;
}

#canvas1 {
    width: 800px;
    height: 700px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 800px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    background-color: aqua;
    opacity: 0.75;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: black;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: black;
    cursor: pointer;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: aqua;
}
p > span {
    font-size: x-large;
    font-weight: bolder;
}